---
---

$grid: 960px;
$theme-color: #7e2cff;

@import 'grid';
@import 'about';
@import 'youtube';
@import 'project';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lekton', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

.header-wrapper {
  width: 1200px;
  margin: 20px auto;
  font-weight: bold;

  img {
    width: 200px;
    margin-top: 30px;
    }

  ul {
    float: right;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  li {
    display: block;
    float: left;

    padding: 6px 22px;
    margin: 0;

    color: #333;
    font-size: 1rem;

    :hover {
      color: $theme-color;
    }
  }

  .header-logo {
    display: inline-block;
    width: 210px;
    height: 25px;

    color: #444;

    background-image: url("{{ site.baseurl }}/img/workinprogress.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header-logo:hover {
    background-image: url("{{ site.baseurl }}/img/workinprogress-hover.svg");
  }
}

#container {
  position: relative;
  min-height: 100%;
}

.content-wrapper {
  padding-top: 70px;
  padding-bottom: 220px;

  margin: 0 auto;

  width: $grid;
}

.main-text {
  display: inline-block;
  margin: 90px 0 120px 0;
  padding-bottom: 10px;

  color: #7e2cff;
  letter-spacing: 0.1rem;
  font-size: 4.5rem;
  line-height: 1.3;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 40px 0;
  width: 100%;
  height: 150px;

  text-align: center;

  box-sizing: border-box;

  .footer {
    margin: 0 auto;
    width: $grid;
  }
}

.preload img, img.preload{
    width: 1px;
    height: 1px;
}
