---
---
$grid: 800px;
$theme-color: #7e2cff;

@import 'grid';
@import 'project';
@import 'about';


@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);


body {
  margin: 0;
  height: 100%;

  font-family: 'Spoqa Han Sans', 'Sans-serif';
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

.header-wrapper {
  width: $grid;
  margin: 0 auto;

  img {
    width: 50px;
    margin-top: 5px;
    }

  ul {
    float: right;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  li {
    display: block;
    float: left;

    padding: 16px 30px;
    margin: 0;

    color: #333;
    font-size: 14px;

    :hover {
      color: $theme-color;
    }
  }

  a {
    color: #333;
  }
}

footer {
  padding: 45px 0;

  background-color: #f1f1f1;

  .footer {
    margin: 0 auto;
    width: $grid;
  }
}


.content-wrapper {
  margin: 60px auto;
  width: $grid;
}

.main-text {
  display: inline-block;
  margin: 90px 0 120px 0;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;

  border-bottom: 8px solid $theme-color;
}
