---
---

body {
  color: #222;
}

.header-wrapper {
  width: 300px;
  height: 100%;
  border-right: 1px solid #ddd;

  img {
    width: 100px;
    }
}

.footer {
  background-color: #eee;
}

.content-wrapper {
  min-height: 700px;
}
