---
layout: site
title: '0x1f440'
---
<div class="preload">
  {% for project in site.data.projects %}
    <img src="{{ site.url }}/img/artwork/{{ artwork.title }}/thumbnail.png">
  {% endfor %}
  {% for video in site.data.videos %}
    <img src="{{ site.url }}/img/projects/{{ video.title }}/thumbnail.png">
  {% endfor %}
  {% for site in site.data.sites %}
    <img src="{{ site.url }}/img/projects/{{ site.title }}/thumbnail.png">
  {% endfor %}
</div>

<div class="main-text">
  0x1f440,<br>
  Studying<br>
  Design&Programming
</div>
