<div class="header-wrapper">
  <img class="preload" src="{{ site.baseurl }}/img/workinprogress-hover.svg">
  <a href="{{ site.url }}"><div class="header-logo"></div></a>
  <ul class="navbar">
    <li {% if page.group == 'archive' %}class="active"{% endif %} ><a href="/archive">Archive</a></li>
    <li {% if page.group == 'blog' %}class="active"{% endif %} ><a href="/blog">Blog</a></li>
    <li {% if page.group == 'about' %}class="active"{% endif %} ><a href="/about">About</a></li>
  </ul>
</div>
