<div class="header-wrapper">
  <a class="header-logo-container" href="{{ site.url }}">
    <div class="header-logo-img"></div>
    <div class="header-logo-title">work in progress...</div>
  </a>
  <ul class="navbar">
    <li {% if page.group == 'wiki' %}class="active"{% endif %} ><a href="/wiki">Wiki</a></li>
    <li {% if page.group == 'archive' %}class="active"{% endif %} ><a href="/archive">Archive</a></li>
    <li {% if page.group == 'about' %}class="active"{% endif %} ><a href="/about">About</a></li>
  </ul>
</div>
