<div class="header-wrapper">
  <a href="{{ site.url }}"><img src="{{ site.baseurl }}/img/Eyes_Emoji.png" alt="http://shapecatcher.com/unicode_info/128064.html"></a>
  <ul>
    <li {% if page.group == 'site' %}class="active"{% endif %} ><a href="/site">Site</a></li>
    <li {% if page.group == 'video' %}class="active"{% endif %} ><a href="/video">Video</a></li>
    <li {% if page.group == 'projects' %}class="active"{% endif %} ><a href="/artwork">Artwork</a></li>
    <li {% if page.group == 'about' %}class="active"{% endif %} ><a href="/about">About</a></li>
  </ul>
</div>
