---
layout: wiki
title: wiki
group: wiki
---

<div class="blog-tags-list">
  <div class="blog-tag-item" id="all-item">
    <a href onclick="filter('all'); return false;">
      all
    </a>
  </div>
  {% assign sorted_category = site.categories | sort %}
  {% for category in sorted_category %}
    {% assign c = category | first %}
    {% assign posts = category | last %}
    {% if c != 'wiki' %}
      <div class="blog-tag-item" id="{{ c }}-item">
        <a href onclick="filter('{{ c }}'); return false;">{{ c  | split: "." | last }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="blog-list-container" id="document-container">
  <!-- docs with category will be inserted -->
</div>


<script>
  var currentCategory = new URLSearchParams(window.location.search).get('category');
  var searchUrl = '/static/json/categorized-docs.json';
  var contaier = document.getElementById("document-container");

  fetch(searchUrl)
      .then(res => res.json())
      .then(json => getRenderedTemplate(json))
      .then(rendered => {contaier.innerHTML = rendered});

  function getRenderedTemplate(json) {
    validateCategory(json);
    setActiveCategory();

    var result = [];

    if (currentCategory == "all"){
      Object.keys(json).forEach(function(key){
        result = addTemplateElement(json[key], result, key);
      });
    }
    else {
      result = addTemplateElement(json[currentCategory], result);
    }

    return result.join("");
  }
  
  function addTemplateElement(json, result, category=null){
    var r = result;

    if (category != null){
      r.push(
        "<div class='blog-tag-item' data-aos='fade-up' id='",
        category,
        "-item'><a href onclick='filter(",
        category,
        "); return false;'>",
        category,
        "</a></div>"
      );
    }

    for (var i = 0; i < json.length; i++){
      r.push(
        "<a class='blog-item-list' data-aos='fade-up' href='",
        json[i].url,
        "'><div class='blog-item-title'>",
        json[i].title,
        "</div><span class='blog-item-date'>",
        json[i].updated,
        "</span><div class='blog-item-excerpt'>",
        json[i].excerpt,
        "</div></a>"
      );
    }

    return r;
  }

  function validateCategory(json) {
    var keys = Object.keys(json);
    if (keys.includes(currentCategory) == false){
        currentCategory = "all";
    }
  }

  function setActiveCategory() {
    var item = document.getElementById(currentCategory + '-item');
    if(item) {
      item.setAttribute('class', 'blog-tag-item active');
    }
  }

  function filter(tag) {
    window.location = "/wiki?category=" + tag;
  }
    

</script>