.about {
  text-align: center;
  font-weight: 300;

  img {
    display: block;
    width: 100px;
    margin-bottom: 70px;
    margin: 0 auto;
  }

  .name {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .title {
    margin: 60px 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
