.about {
  text-align: center;
  font-size: 1.2rem;

  img {
    display: block;
    width: 80%;
    margin: 6rem auto;
  }

  .title {
    margin: 6rem 0 .8rem 0;
    font-size: 2.2rem;
    font-weight: bold;
  }
}
