.about {
  text-align: center;

  img {
    width: 200px;
    margin-bottom: 70px;
  }

  .name {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .title {
    margin: 60px 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
