.left-sidebar {
  position:fixed;
  top: 0;
  left:0;
  overflow-y: auto;
  z-index: 10;

  padding: 3rem 1rem 0 2rem;

  width: 280px;
  height: 100%;

  background-color: white;

  border-right: 1px solid #eee;

  -webkit-transition: left 0.2s; /* For Safari 3.1 to 6.0 */
  transition: left 0.2s;
 
  a {
   display: block;
  }

  :hover {
    text-decoration-line: none
  }
  
  li{
    list-style-type: none;
  }
}

.left-sidebar.invisible{
  left: -280px;
}

#left-sidebar-btn {
  position: fixed;
  z-index: 20;
  top: 1rem;
  left: 1rem;
  
  width: 30px;
  height: 30px;
  
  border: 1px solid #ccc;
  border-radius: 100px;
  
  background-color: white;
  
  text-align: center;
  vertical-align: middle;
  line-height: 1.7;
  
  i {
    color: #bbb;
  }
  i:hover {
    color: #bbb;
  }
}

.refer {
  margin: 1rem 0 1rem 0;
  padding: 2px 0;
  display: inline-block;
  border-top: 2px solid #aaa;
}

.refer-content {
  display: block;
  margin-bottom: 0.6rem;
}

.blog-tag-name {
  margin-top: 1rem;

  font-weight:bold;
}

.inactive {
  color: #aaa;
}

.active {
  color: #333;
}

.blog-tags-list {
  margin-bottom: 40px;
  
  font-size: 2rem;
  font-weight: bold;

  li {
    padding: .4rem 1rem; 
  } 
}

.blog-tag-item {
  margin: 0.7rem 0rem 0.7rem 1.5rem;
  a {
    font-weight: 300;
    color: #555;
  }

  a.active-post {
    font-weight: bold;
    color: $theme-color;
  }
}

.blog-tag-item.active {
  a {
    border: 1px solid $theme-color;
    background-color: $theme-color;
    color: white;
  }
}

.blog-item-tags {
  padding-right: 3px;
  color: #bbb;
  font-weight: 300;
  font-size: 0.9rem;
}

.blog-item-date {
  padding-right: 15px;
  color: #ccc;
  font-weight: 500;
  font-size: 0.9rem;
}

.page-wrapper {
  display: block;
  margin: 0 auto;
  padding: 50px 50px 250px 50px;
  max-width: 700px;

  a {
    color: $theme-color;
    font-weight: 300;
  }
}
.page-title {
  margin: 5px 0 12px 0;

  font-size: 2rem;
  font-weight: bold;
  word-break: keep-all;
}
.page-date {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 300;
  color: #888;
}

.page-tag {
  color: #bbb;
  font-weight: 500;

  span {
    margin-right: 5px;
  }
}
.page-content {
  margin: 5rem 0;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2;
  letter-spacing: -0.1px;
}

.post-navi {
  display: inline-block;
  margin-top: 20px;
  width: 50%;

  font-weight: 300;
  word-break: keep-all;
}

.next-post {
  float: right;
  text-align: right;
}

.hidden {
  display: none;
  visibility: hidden;
}

.blog-item-list {
  width: 100%;
  margin-bottom: 28px;
}

a.blog-item-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
}

a.blog-item-title:hover{
  color: $theme-color;
  text-decoration-line: none;
}