.blog-tags-list {
  margin-bottom: 40px;
}
.blog-tag-item {
  display: inline-block;
  margin-bottom: 17px;
  font-size: 1rem;

  a {
    margin-right: 5px;
    padding: 4px 20px;
    color: #555;
    font-size: 0.9rem;
  }
}

.blog-tag-item.active {
  a {
    border: 1px solid $theme-color;
    background-color: $theme-color;
    color: white;
  }
}

.blog-item-tags {
  padding-right: 3px;
  color: #bbb;
  font-weight: 300;
  font-size: 0.9rem;
}

.blog-item-date {
  padding-right: 15px;
  color: #ccc;
  font-weight: 500;
  font-size: 0.9rem;
}

.page-wrapper {
  display: block;
  margin: 0 auto;
  padding: 50px 50px 250px 50px;
  max-width: 600px;

  a {
    color: $theme-color;
  }
}
.page-title {
  margin: 5px 0 12px 0;

  font-size: 2rem;
  font-weight: bold;
  word-break: keep-all;
}
.page-date {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #888;
}

.page-tag {
  color: #bbb;
  font-weight: 500;

  span {
    margin-right: 5px;
  }
}
.page-content {
  margin: 5rem 0;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2;
  letter-spacing: -0.1px;
}

.post-navi {
  display: inline-block;
  margin-top: 20px;
  width: 50%;

  font-weight: 300;
  word-break: keep-all;
}

.next-post {
  float: right;
  text-align: right;
}

.hidden {
  display: none;
  visibility: hidden;
}

.blog-item-list {
  width: 100%;
  margin-bottom: 28px;
}
a.blog-item-title {
  font-size: 1.2rem;
  color: #555;
}
