.thumbnail-wrapper {
    display: inline-block;
    max-width: 49%;
    padding: 30px;
    box-sizing: border-box;
    vertical-align: middle;

    a{
      color: #333;
    }
    a:hover{
      color: $theme-color;
      text-decoration-line: none;
    }
}

.titles {
  margin-bottom: 30px;
  font-size: 1rem;
  font-family: 'Lekton', 'Noto Sans KR', sans-serif;

    span { padding: 10px 25px; }
}

.project-list {
  margin: 5%;

  vertical-align: top;
  box-sizing: border-box;
  
  font-family: 'Lekton', 'Noto Sans KR', sans-serif;

  img{
    margin: 8px 0;
  }
  
  .title {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 1.1rem;
  }

  .tag {
    display: inline-block;
    padding: 2px 5px;
    margin-right: 3px;
    margin-bottom: 4px;

    border: 1px solid #ccc;

    font-size: .8em;
    font-weight: bold;
    color: #666;
  }
}

.project-list:hover > .meta {
  visibility: visible;
  opacity: 1;
}

.project-title {
  margin: 20px 0 10px 0;

  font-family: 'Lekton', 'Noto Sans KR', sans-serif;
  color: $theme-color;
  font-weight: bold;
  font-size: 2em;
}

.project-caption {
  margin-bottom: 50px;

  font-family: 'Lekton', 'Noto Sans KR', sans-serif;
  font-size: 1.1em;
  color: #666;
}

.active a {
  color: $theme-color;
}
