$grid: 720px;
$theme-color: #7e2cff;

@font-face {
  font-family: 'lemieszregular';
  src: url('../assets/fonts/lemiesz_regular_macroman/Lemiesz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@import 'grid';
@import 'site';
@import 'about';
@import 'youtube';
@import 'project';
@import 'page';
@import 'responsive';
@import 'resume';
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');