@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  height: 100%;
  cursor: none;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;

  background-color: #802bdb;

  vertical-align: middle;
}

#myCanvas {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: calc(100%)!important;
  height: calc(100%)!important;
}

#preload {
  display: none;
}

.title {
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 30px);

  width: 60px;
  height: 60px;


  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 1.3em;
}
