.thumbnail-wrapper {
    display: block;
    width: 92%;
    margin: 12% auto;
    box-sizing: border-box;
    font-family: 'Lekton', 'Noto Sans KR', sans-serif;
    
    a {
      color: #333;
    }
    a:hover {
      color: $theme-color;
      text-decoration-line: none;
    }
  }
  
.thumbnail-wrapper .tag {
  display: inline-block;
  position: relative;
  padding: 4px 20px;
  margin-right: 3px;
  margin-bottom: 4px;
  
  background-color: $theme-color;
  border-radius: 20px;
  
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

.thumbnail-wrapper .tag-container {
  position: relative;
  top: -1.8rem;
  left: 8%;
}


.titles {
  margin-bottom: 30px;
  font-size: 1rem;
  
  span { padding: 10px 25px; }
}

.project-thumbnail {
  position: relative;
  width: 100%;
  left: 0;
}

.project-list {
  border-radius: 25px;
  
  -webkit-box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  -moz-box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);

  padding: 24% 8% 7% 8%;
  margin-top: -30%;

  vertical-align: top;
  box-sizing: border-box;
  
  font-family: 'Lekton', 'Noto Sans KR', sans-serif;
  
  .title {
    margin-top: 10px;

    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
  }

  .caption{
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: -0.02rem;
  }
}

.project-list:hover > .meta {
  visibility: visible;
  opacity: 1;
}

.project-title {
  margin: 20px 0 10px 0;

  font-family: 'Lekton', 'Noto Sans KR', sans-serif;
  color: $theme-color;
  font-weight: bold;
  font-size: 2em;
}

.project-caption {
  margin-bottom: 50px;

  font-family: 'Lekton', 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #666;
}

.active a {
  color: $theme-color;
}
