.thumbnail-wrapper {
  display: block;
  width: 80%;
  margin: 12% auto;
  box-sizing: border-box;
  font-family:'Noto Sans KR', sans-serif;
  
  a {
    color: #333;
  }
  a:hover {
    color: $theme-color;
    text-decoration-line: none;
  }
}
  
.thumbnail-wrapper .tag {
  display: inline-block;
  position: relative;
  padding: 2px 20px;
  margin-right: 3px;
  margin-bottom: 4px;
  
  background-color: $theme-color;
  border-radius: 20px;
  
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}

.thumbnail-wrapper .tag-container {
  position: relative;
  top: -27px;
  left: 8%;

  font-weight: 300;
  font-size: .8rem;
}

.titles {
  margin-bottom: 30px;
  font-size: 1rem;
  
  span { padding: 10px 25px; }
}

.project-thumbnail {
  position: relative;
  width: 100%;
  left: 0;
}

.project-list {
  border-radius: 25px;
  
  -webkit-box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  -moz-box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);

  padding: 24% 8% 7% 8%;
  margin-top: -30%;

  vertical-align: top;
  box-sizing: border-box;
  
  font-family: 'Noto Sans KR', sans-serif;
  
  .title {
    margin-top: 10px;

    font-family: 'Fredoka One', cursive;
    font-size: 1.6rem;
  }

  .caption{
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: -0.02rem;
  }

  .fas {
    font-size: 1rem; 
    color: #aaaaaa;
  }
}

.project-list:hover > .meta {
  visibility: visible;
  opacity: 1;
}

.project-title {
  margin: 20px 0 10px 0;

  font-family:'Noto Sans KR', sans-serif;
  color: $theme-color;
  font-weight: bold;
  font-size: 2em;
}

.project-caption {
  margin-bottom: 50px;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #666;
}

.active a {
  color: $theme-color;
}
