[class*='col-'] {
  display: inline-block;
  padding: 5px;

  min-height: 1px;

  box-sizing: border-box;
  vertical-align: top;
}

.col-33 {
  width: 33%;
}

.col-50 {
  width: 50%;
}

.col-100 {
  width: 100%;
}

@media screen and (min-device-width : 768px) {
  .header-wrapper {
    width: 100%;
  }
}