@media screen and (max-width : 1500px) {
  .header-wrapper {
    width: 100%;
    padding: 1.5rem 3rem;
  }
}

@media screen and (max-width : 1024px) {
  .content-wrapper {
    width: 100%;
  }
  
  .page-wrapper{
    padding: 0 5rem;
    max-width: 100%;
  }
  
  .typography {
    text-align: center;
  }
}

@media (max-width : 768px) {
  .typography {
    text-align: center;
    font-size: 3.5rem;
  }
  
  
  .thumbnail-wrapper {
    max-width: 100%;
  }
  
  .page-wrapper{
    padding: 0 3rem;
    max-width: 100%;
  }
  
  .header-wrapper {
    padding: 1.5rem 0;

    ul {
      float: none;
    }

    .header-logo {
      position: static;
      display: block;
      margin: auto;
    }
  }

  .navbar{
    display: block;
    margin: 3rem auto 0 auto;
    text-align: center;

    li{
      float: none;
      display: inline-block;
      padding: 6px 30px;

      font-size: 1.3rem;
    }
  }

  .thumbnail-wrapper .tag {
    font-size: .9rem;
  }

  .project-list .title {
    font-size: 1.8rem;
  }

  .project-list .caption {
    font-size: 1.1rem;
  }
}

@media (max-width : 450px) {
  .typography {
    text-align: center;
    font-size: 3rem;
  }

  .navbar li {
    display: block;
  }

  .project-list {
    padding: 19% 8% 7% 8%;
  }
}