* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  color: #333;
  word-break: keep-all;

  line-height: 1.8;
}

section {
  margin: 2rem 0 7rem 0;
}


h1 {
  margin-top: 6.5rem;
}

h2 {
  margin-top: 5.5rem;
}

h3 {
  margin-top: 4.5rem;
}

hr { 
  border-top: 1px solid #eee;
}

a {
  text-decoration: none;
  color: $theme-color;
  transition: background-color 0.3s;
}

a:hover {
  text-decoration-style: none;
}

img:not(.emoji) {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header-wrapper {
  width: 1200px;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 1rem;
  font-family: 'Fredoka One', cursive;
  
  img {
    width: 200px;
    margin-top: 30px;
  }
  
  .navbar a {
    color: #666;
    cursor: pointer;
  }
  
  ul {
    float: right;
    margin: 37px 0;
  }
  
  li {
    display: inline-block;
    
    padding: 6px 22px;
    margin: 0;
    
    color: #333;
    font-size: 1.1rem;
  }
}

.header-logo-container {
  width: 125px;
  display: inline-block;
  margin-bottom: 1.5rem;
  
  .header-logo-img {
    z-index: 5;

    width: 125px;
    height: 150px;

    color: #444;

    background-image: url("/static/img/logo-main.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header-logo-img:hover {
    background-image: url("/static/img/logo-main-hover.svg");
  }

  .header-logo-title {
    margin: auto;
    
    font-size: 0.9rem;
    text-align: center;
    font-family: 'Fredoka One', cursive;
  }
  
}

.navbar a:hover {
  color: $theme-color;
}

blockquote {
  padding: 1.2rem;
  margin-inline-start: .7rem;
  margin-inline-end: .7rem;
  
  border-left: 4px solid $theme-color;
  background: $theme-gradient;

  color: $theme-color;
  
  p {
    margin: 0;
  }
}

#container {
  position: relative;
  min-height: 100%;
}

.content-wrapper {
  padding: 0 5%;

  margin: 0 auto;

  width: $grid;
}

.main-text {
  display: inline-block;
  margin: 90px 0 120px 0;
  padding-bottom: 10px;

  color: #7e2cff;
  letter-spacing: 0.1rem;
  font-size: 4.5rem;
  line-height: 1.3;
}

footer {
  margin: 4rem;

  color: #aaa;
  text-align: center;
}

.preload img, img.preload{
    width: 1px;
    height: 1px;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  background: $theme-gradient;
  color: $theme-color;
  border-radius: 5px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;

}

.highlight code {
  padding: 1rem 1rem;
  border-radius: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 24px;
  height: 16px;
  background: transparent;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;

  background: $scroll-gradient;
  background-clip: padding-box;

  border: 6px solid transparent;
}

.hidden {
  display: none;
}

.bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 800px;
  -webkit-box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  -moz-box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  border-bottom-right-radius: 10%
}

.about-container {
  margin-bottom: 3rem;

  li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }

  li::before {
    content: "✨";
  }
}

@mixin saw-tooth-horizontal($width: 13px, $bg: #fff) {
  background-image:
    /* Left jagged */
    linear-gradient(135deg, $bg 50%, transparent 50%),
    linear-gradient(45deg, $bg 50%, transparent 50%),
    /* Right jagged */
    linear-gradient(-135deg, $bg 50%, transparent 50%),
    linear-gradient(-45deg, $bg 50%, transparent 50%);
  background-position:
    /* Left jagged */
    top left, top left,
    /* Right jagged */
    top right, top right;
  background-size: $width $width;
  background-repeat: repeat-y;
}

.index-section-title {
  @include saw-tooth-horizontal();

  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.4rem 4rem 0.4rem 3rem;

  background-color: #ffdd00;

  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

#search-input-wrapper {
  .fa-search {
    width: 1rem;
  }
  padding: 0.5rem 0.9rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4rem;
}

#search-input {
  border: none;
  padding: 3px;

  width: calc(100% - 2rem);

  font-size: 1rem;
}

#search-input:focus {
  outline-width: 0;
}

#search-result {
  margin-top: 0.7rem;
  text-align: center;
}

.search-result-container {
  margin-top: 3rem;
}

.search-result-container a {
  display: block;

  padding: 1rem 2rem;
  margin-top: -3rem; 
  border: none;
  border-radius: 1.8rem;
  background-color: white;
  
  width: 100%;
  margin-bottom: 6%;
  
  -webkit-box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  -moz-box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  box-shadow: 13px 14px 49px -17px rgba(0,0,0,0.37);
  
  color: #aaa;
  text-align: left;
  transition: transform .15s ease-in-out;

  .tags, .date {
    font-size: 0.8rem;
  }

  .title {
   color: #333;
   font-size: 1.1rem;
  }
}  

.search-result-container a:hover {
  transform: rotate(5deg);
  background-color: white;
}

a.rainbow_text_hovered:hover {
  background: linear-gradient(to right, #fa0951, #f0b000, #3cff00 , #00e1ff, #2600ff, #590de6, #e60da5, #fa0951);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 2s infinite;
  animation-timing-function: ease-in-out;
  background-size: 1400% 100%;

}

@keyframes rainbow_animation {
  0%{
      background-position: 2% 0;
  }

  100% {
      background-position: 100% 0;
  } 
}

.show-more-link {
  display: block;
  text-align: right;
  font-size: 0.8rem;
}