.left-sidebar {
  position:fixed;
  top: 0;
  left:0;
  overflow-y: auto;
  z-index: 10;

  padding: 3rem 1rem 0 2rem;

  width: 280px;
  height: 100%;

  background-color: white;

  border-right: 1px solid #eee;

  -webkit-transition: left 0.2s; /* For Safari 3.1 to 6.0 */
  transition: left 0.2s;
 
  a {
   display: block;
  }

  :hover {
    text-decoration-line: none
  }
  
  li{
    list-style-type: none;
  }
}

.left-sidebar.invisible{
  left: -280px;
}

#left-sidebar-btn {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  
  width: 30px;
  height: 30px;
  
  border: 1px solid #ccc;
  border-radius: 100px;
  
  background-color: white;
  
  text-align: center;
  vertical-align: middle;
  line-height: 1.7;
  
  i {
    color: #bbb;
  }
  i:hover {
    color: #bbb;
  }
}

.refer {
  margin: 2rem 0 1rem 0;
  padding: 5px 20px;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 20px;
}

.refer-content {
  display: block;
  margin-bottom: 0.6rem;
}

.blog-tag-name {
  margin-top: 1rem;
  font-weight:bold;
}

.inactive {
  color: #aaa;
}

.active {
  color: #333;
}

.blog-tags-list {
  margin-bottom: 1rem;

  padding: 1em 0;

  font-size: 1rem;
  font-weight: bold;

  border-bottom: 1px solid #dfdfdf;

  li {
    padding: .4rem 1rem; 
  } 
}

.blog-tag-item {
  display: inline-block;
  margin: 0.5rem 0;

  li {
    list-style-type: none;
  }

  a {
    padding: 3px 20px 5px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: #555;
  }

  a.active-post {
    font-weight: bold;
    color: $theme-color;
  }

  a:hover {
    transform: rotate(20deg);
  }
}

.blog-tag-item.active {
  a {
    border: 1px solid $theme-color;
    background-color: $theme-color;
    color: white;
  }
}

.blog-item-tags {
  padding-right: 3px;
  color: #bbb;
  font-size: 1.2rem;
}

.blog-item-date {
  padding-left: 0.5rem;
  color: #bbb;
  font-weight: 300;
}

.page-wrapper {
  display: block;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 700px;

  ul ul {
    margin-left: 2rem;
    list-style-type: disc;
  }
  ul ul:last-child {
    margin-bottom: 1.4rem;
  }
}

.page-title {
  margin: 5px 0 12px 0;

  font-size: 1.7rem;
  font-weight: bold;
  word-break: keep-all;

  color: #333;
}
.page-date {
  font-size: .8rem;
  font-weight: 300;
  color: #aaa;
  text-align: right;
}

.page-tag {
  color: #bbb;
  font-weight: 500;

  span {
    margin-right: 5px;
  }
}
.page-content {
  margin: 5rem 0;
  line-height: 2;
  letter-spacing: -0.1px;
  color: #333;
}

.post-navi {
  display: inline-block;
  margin-top: 20px;
  width: 50%;
  word-break: keep-all;
}

.next-post {
  float: right;
  text-align: right;
}

.hidden {
  display: none;
  visibility: hidden;
}

.blog-item-list {
  display: block;
  width: 100%;
  margin: 0.2rem 0.3rem 1.8rem 0.3rem;
}

.blog-item-list:hover .blog-item-title, .blog-item-list:hover .blog-item-date {
  color: $theme-color;
}

.blog-item-title {
  color: #333;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
}

.blog-item-excerpt {
  color: #888;
  font-size: 0.9rem;
  font-weight: 300;
}

.category-documents-container {
  margin-bottom: 3rem;
}

.post-tag-container {
  margin-bottom: 3rem;
}

.post-tag {
  display: inline-block;
  padding: 2px 13px;
  border-radius: 30px;
  background: $theme-gradient;
  color: #555;
}

#document-container .blog-tag-item {
  margin-top: 2rem;
}