$grid: 720px;
$theme-color: #7e2cff;
$theme-gradient: linear-gradient(150deg, #fffdf4, rgb(255, 234, 253), rgb(249, 231, 255));
$scroll-gradient: linear-gradient(150deg, #fffcee, rgb(255, 219, 240), rgb(230, 177, 255));

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

@import 'grid';
@import 'youtube';

@import 'site';
@import 'archive';
@import 'wiki';
@import 'resume';

@import 'responsive';