<!DOCTYPE html>
<html>
  <head>
    {% include top.html %}
  </head>
  <body>
    <div id="container">
      {% include header.html %}
      <div class="page-wrapper">
        <span class="page-date">{{ page.date  | date: "%d %b %Y"}}</span>
        <div class="page-title">{{ page.title }}</div>
        <span class="page-tag">
          {% for tag in page.tags %}
            <span>{{ tag }}</span>
          {% endfor %}
        </span>
        <div class="page-content">{{ content }}</div>

        <script src="https://utteranc.es/client.js"
                repo="0x1f440/blog-comments"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>

        {% if page.previous %}
        <div class="post-navi previous-post">
          <a href="{{ page.previous.url }}"><i class="fas fa-angle-left"></i> {{ page.previous.title }}</a>
        </div>
        {% endif %}
        {% if page.next %}
        <div class="post-navi next-post">
          <a href="{{ page.next.url }}">{{ page.next.title }} <i class="fas fa-angle-right"></i></a>
        </div>
        {% endif %}



      </div>
      {% include footer.html %}
      {% include analytics.html %}
    </div>
  </body>
</html>
