<!DOCTYPE html>
<html>
  <head>
    {% include top.html %}
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/atom-one-dark.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
  </head>
  <body>
    <div id="container">
      {% include header.html %}
      <div class="page-wrapper">
        <div class="page-date">created : {{ page.date  | date: '%Y-%m-%d'}}</div>
        <div class="page-date">updated : {{ page.date  | date: '%Y-%m-%d'}}</div>
        <div class="page-title">{{ page.title }}</div>
        <div class="page-content">{{ content }}</div>
        
        {% if page.references_link.size > 0 %}
          <div class="refer">🔗 참고 링크</div><br>
          {% for link in page.references_link %}
            <a class="refer-content" href="{{ link }}">{{ link }}</a>
          {% endfor %}
        {% endif %}

        {% if page.references_book.size > 0 %}
          <div class="refer">📚 참고 문헌</div><br>
          {% for book in page.references_book %}
            <div class="refer-content">{{ book }}</div>
          {% endfor %}
        {% endif %} 
        
        {% if page.recommend_tags.size > 0 %}
          <div class="refer">👍 관련 포스트</div><br>
          {% for p in site.posts %}
            {% if p.recommend_tags == page.recommend_tags and p.public == true %}
              <div class="refer-content"><a href="{{ p.url }}">{{ p.title }}</a></div>
            {% endif %}
          {% endfor %} 
        {% endif %}
        <script src="https://utteranc.es/client.js"
                repo="0x1f440/blog-comments"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
   
        {% if page.previous %}
        <div class="post-navi previous-post">
          <a href="{{ page.previous.url }}"><i class="fas fa-angle-left"></i> {{ page.previous.title }}</a>
        </div>
        {% endif %}
        {% if page.next %}
        <div class="post-navi next-post">
          <a href="{{ page.next.url }}">{{ page.next.title }} <i class="fas fa-angle-right"></i></a>
        </div>
        {% endif %}
      </div>

      <script>
        hljs.initHighlightingOnLoad();  
      </script>

      {% include footer.html %}
      {% include analytics.html %}
    </div>
  </body>
</html>