.image img {
  width: 94%;
  padding: 3%;
  box-sizing: border-box;
}

.content-wrapper{
  font-family: courier;
}

.colloquium-title {
  position: fixed;
  top:0;
  font-size: 3rem;
  font-weight: bold;
  color: blue;
}

.caption-name {
  font-weight: bold;
  margin-bottom: 6px;
}

.caption {
  padding: 4% 3% 25% 3%;
}
